src/main/mule/cicd_api18.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b9ca8ea-68a4-47be-9ee2-a2c7afbb051e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd_api18Flow" doc:id="1624d097-fac2-4832-af52-f1c8ff41ab6d" >
		<http:listener doc:name="Listener" doc:id="befea267-cff0-46b7-bd48-a1d1b2979906" config-ref="HTTP_Listener_config" path="/ci"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bcfa6735-c997-41c6-b3aa-02cc75f95cdb" />
	</flow>
</mule>
